@use "./variables.scss" as *;

.control__buttons {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.langs__list {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border-radius: 10px;
}

.langs__list-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    > img {
        width: 100%;
        height: 100%;
        transition: filter 0.3s linear;
    }

    &._disable > img {
        filter: grayscale(100%);
    }
}

#sound__btn.sound__btn,
.langs__list {
    background: $bgColor;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
    border: 2px solid #b88cff;
}

#sound__btn.sound__btn {
    width: 60px;
    padding: 5px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3s linear;

    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background: #ffffff;
        border-radius: 2px;
        position: absolute;
        transform: rotate(125deg);
        transition: background 0.3s linear;
    }

    &._active {
        border-radius: 10px;

        &::after {
            background: transparent;
        }
    }

    .sound__svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sound__svg-path {
    fill: white;
}

.bars {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1001;
    background: $bgColor;
    border: 2px solid #b88cff;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 15px 6px;
    transition: all 0.3s linear;
    box-shadow: 0 0 10px 0 black;
}

.burger {
    width: 100%;
    height: 4px;
    background: $primaryColor;
    position: relative;
    transition: all 0.2s linear;

    &::before,
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        transition: inherit;
        position: absolute;
        left: 0;
        right: 0;
        background: rgb(255, 255, 255);
    }

    &::before {
        bottom: calc(100% + 5px);
    }

    &::after {
        top: calc(100% + 5px);
    }
}

.nav {
    width: $navWidth;
    height: 100vh;
    transition: background 0.3s linear, left 0.3s linear;

    .nav__content {
        background: #2c0e53;
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .nav__content-bg {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: #2c0e5373;
    }

    .nav__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            display: flex;
            width: 100%;
            max-width: 150px;

            > img {
                width: 100%;
            }
        }

        .nav__logo-title {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            display: block;
            margin-top: 20px;
        }
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 50px;

        .nav__list-element {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            .nav__list-link {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $primaryColor;
                transition: 0.3s linear;
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 0;
                    background: linear-gradient(to right, $primaryColor), transparent;
                    top: 100%;
                    left: 0;
                    transition: all 0.2s linear;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }

    .btn {
        color: $primaryColor;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        display: flex;
        width: max-content;
        padding: 16px 32px;
        border: 1px #b88cff solid;
        overflow: hidden;
        position: relative;

        &::after {
            content: "";
            display: block;
            background: $buttonHoverColor;
            right: 150%;
            top: 0;
            bottom: 0;
            width: 100%;
            position: absolute;
            transition: right 0.3s linear;
        }

        &:hover::after {
            right: 0;
        }

        > span {
            z-index: 1;
        }

        .square {
            display: block;
            position: absolute;
            width: 100px;
            height: 100%;
            top: 0;
            bottom: 0;
            right: 150%;
            transform: translateX(0%) skew(-20deg);
            background: rgba(255, 255, 255, 0.3);
        }
    }

    .nav__social {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 13px;

        .nav__social-element {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;

            .nav__social-link {
                display: flex;
                width: 100%;
                height: 100%;
                transition: transform 0.3s linear;

                &:hover {
                    transform: scale(1.3);
                }

                > img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
