// variables.scss
$containerWidth: 1120px;
$containerPadding: 16px;
$navWidth: 220px;
$primaryColor: #fff;
$titleColor: #fff;
$primaryFont: "Roboto";
$bgColor: #1C0040;
$primaryTitleFont: "Roboto";
$buttonHoverColor: #B88CFF;
