ul.list {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10px;
}

.post {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 12px;
    border-radius: 12px;
    background: rgb(26, 152, 112);
    color: aliceblue;
    font-size: 22px;
}

